<div>
    <app-widget-area [data]="bigChart"></app-widget-area>
</div>
<!--GRAFICO-->

<br>
<mat-divider></mat-divider>
<br>


<div fxLayout="row" fxLatoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">

    <h1> Regiões </h1>
    <mat-card fxFlex="20">
        <app-widgets-cards label="Sul" total="26M" percentage="26" [data]="cards"></app-widgets-cards>
    </mat-card>
    <mat-card fxFlex="20">
        <app-widgets-cards label="Sudeste" total="27M" percentage="27" [data]="cards"></app-widgets-cards>
    </mat-card>
    <mat-card fxFlex="20">
        <app-widgets-cards label="Centro-Oeste" total="17M" percentage="17" [data]="cards"></app-widgets-cards>
    </mat-card>
    <mat-card fxFlex="20">
        <app-widgets-cards label="Norte" total="13M" percentage="13" [data]="cards"></app-widgets-cards>
    </mat-card>
    <mat-card fxFlex="20">
        <app-widgets-cards label="Nordeste" total="17M" percentage="17" [data]="cards"></app-widgets-cards>
    </mat-card>
    <!--CARDS-->
</div>

<br>
<mat-divider></mat-divider>
<br>


<div fxLayout="row" fxLatoutAlign="space-between center" fxLayoutGap="20px">
    <div fxFlex="120">
        <app-widget-table [data]="tableData"></app-widget-table>
    </div>

    <!--TABELA-->
</div>

<mat-divider></mat-divider>


<div class="box">

    <div>
        <mat-card class="example-card_two">

            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Fortaleza</mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/img/resort.jpg">

            <mat-card-content>
            </mat-card-content>

        </mat-card>
    </div>

    <div>
        <mat-card class="example-card_two">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Porto de Galinhas</mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/img/salvador.jpg">
            <mat-card-content>
            </mat-card-content>
        </mat-card>
    </div>


    <div>
        <mat-card class="example-card_two">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Maceió</mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/img/maceio.jpg">
            <mat-card-content>
            </mat-card-content>
        </mat-card>
    </div>

    <div>
        <mat-card class="example-card_two">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Salvador</mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/img/salvador.jpg">
            
        </mat-card>
    </div>

    <mat-divider></mat-divider>
</div>

<div>
    <app-widget-grafic [data]="graficChart"></app-widget-grafic>
</div>

<div>
    <app-footer></app-footer>
</div>