.stats-cards {
    .mat-card {
        overflow: hidden;
    }
}
.box {
    display: flex;
    align-items: stretch;
    background-size: cover;
  }

  .example-card_two {
    max-width: 500px;
    max-height: 400px;
  }
  
  