.stats-cards {
    .mat-card {
        overflow: hidden;
    }
}

.example-card {
    max-width: 400px;
  }

  .example-card_two {
   align-items: random($limit: 2);
    margin-right: auto;
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }